header.myHeader
  // border: 2px solid
  position: fixed
  display: flex
  flex-direction: row
  height: 80px
  width: 100%
  z-index: 10
  background-color: transparent
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  .lable
    margin: 5px 10px
    display: inline-block
    color: #28774F
    font-family: Italianno, serif
    text-shadow: 0 0 3px white
    font-size: 30px
    pointer-events: none
    display: flex
    flex-direction: row

  nav
    //display: flex
    //flex-direction: row
    //justify-content: space-around
    width: 100%
    //color: #000
    li
      height: 80px
      display: flex
      flex-direction: column
      justify-content: center

      list-style: none
      padding: 0 20px

      a
        display: inline-block
        font-size: 30px

        color: #1b6d85
      &.left
        float: left
      &.right
        float: right

  .user
    margin-right: 20px
    display: flex
    flex-direction: row
    justify-content: center
    //background-color: rgba(lightcyan,0.5)
    height: 80px
    #username
      font-size: 30px
      margin: auto 10px
      color: lightcyan
      text-shadow: 0 0 4px gray
      font-family: Fira Sans, serif

    #logState
      padding: 5px 5px
      margin: auto 0
      height: 55px
      width: 55px
//&:after
  content: ''
  display: block
  height: 160px
  width: 100%


.headerHolder
  width: 100%
  height: 100px
