.addArticle.container
  height: calc(100vh - 80px)
  z-index: 0

  .verticle
    height: calc(100vh - 80px)
    display: flex
    flex-direction: column
    // justify-content: space-between
    .form-group.content
      height: 100%
      textarea
        height: 100%
