.addArticle
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  height: calc(100vh - 80px)
  .verticle
    display: flex
    flex-direction: column
    justify-content: space-between

    width: 45%
    .Content
      background-color: pink

      flex-grow: 2
