$caretback-color: rgba(200, 200, 200, 1)
@keyframes caret
  50%
    background-color: transparent

@keyframes fadeout
  0%
    color: #66638E
    text-shadow: none
    background-color: rgba(#66638E, 0.2)
  20%
    color: #363377

  100%
    background-color: inherit

$rgba-primary-0: rgba(150, 124, 181, 1)
$BackGround: #ffffff
$stage-bg: rgba(200, 200, 200, 0.3)
$inactive-char: rgba(180, 180, 180, 0.5)
$active-char: #050147

.typingPage
  background-color: $BackGround

  .typing.main
    .fadeBgc
      animation: fadeout ease-in-out 8s

    .char
      // overflow: hidden
      // height: 30px
      color: $inactive-char

      /*text-shadow: 1px 1px 0px gray;
      display: inline-block
      font-family: 'fira_sansextralight_italic'
      // font-style: italic

      // border-radius: 5px

      border-width: 0px 0px 2px 0px
      border-style: solid
      border-color: transparent
      font-size: 20px
      transition: all 0.1s ease-in-out
      white-space: pre

    /*padding: 0 1px 0 1px;
    .curChar
      /*position:sticky;
      position: relative
      color: white

      // color: rgba(250, 230, 110, 1) !important
      // text-shadow: 0px 0px 8px rgba(253, 200, 230, 1)
      // font-size: 20px !important
      transition: all 0.1s ease-in-out
    // transform: translateY(-1px)
    // animation: caret ease-in-out 1.5s alternate infinite

    .correct
      color: $active-char
      text-shadow: 0px 0px 1px gray

    .incorrect
      /*background-color: pink;
      color: #e74c3c
      text-shadow: 0px 0px 3px red

    .passin
      display: none

    margin: auto

    #stage
      position: relative
      padding: 20px 100px
      background-color: $stage-bg
      margin: 0 auto
      border: 2px solid
      width: 70%
      #caret
        position: fixed
        background-color: rgba(black, 0.8)
        animation: caret ease-in-out 1.0s alternate infinite
        border-radius: 5px

  #wpfContainer
    position: fixed
    left: 20px
    bottom: 20px

    span
      font-size: 30px
      color: gray

    #wpf
      color: #27ae60 !important
      text-shadow: 0 0 8px gray
