@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url("http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'fira_sansextralight_italic';
  src: url("/client/css/font-files/firasans-extralightitalic-webfont.woff2") format("woff2"), url("/client/css/font-files/firasans-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes caret {
  50% {
    background-color: transparent; } }

@keyframes fadeout {
  0% {
    color: #66638E;
    text-shadow: none;
    background-color: rgba(102, 99, 142, 0.2); }
  20% {
    color: #363377; }
  100% {
    background-color: inherit; } }

.typingPage {
  background-color: #ffffff; }
  .typingPage .typing.main {
    /*padding: 0 1px 0 1px; */
    margin: auto; }
    .typingPage .typing.main .char {
      color: rgba(100, 100, 180, 0.5);
      /*text-shadow: 1px 1px 0px gray; */
      display: inline-block;
      font-family: 'fira_sansextralight_italic', serif;
      padding: 0 1px 0 1px;
      font-size: 20px;
      transition: all 0.1s ease-in-out;
      white-space: pre; }
    .typingPage .typing.main .curChar {
      /*position:sticky; */
      position: relative;
      transition: all 0.1s ease-in-out; }
    .typingPage .typing.main .correct {
      color: rgba(150, 255, 171, 0.9);
      text-shadow: 0px 0px 1px gray; }
    .typingPage .typing.main .incorrect {
      /*background-color: pink; */
      color: #e74c3c;
      text-shadow: 0px 0px 3px red; }
    .typingPage .typing.main .passin {
      display: none; }
    .typingPage .typing.main #stage-wrap {
      position: relative;
      margin: 0 auto;
      width: 70%;
      background-color: rgba(250, 250, 250, 0.9); }
      .typingPage .typing.main #stage-wrap #canvas {
        position: fixed;
        width: inherit;
        height: calc(100vh - 80px); }
      .typingPage .typing.main #stage-wrap #stage {
        padding: 20px 0;
        background-color: rgba(250, 250, 250, 0.9);
        margin: 0 auto;
        width: 80%; }
        .typingPage .typing.main #stage-wrap #stage #caret {
          position: fixed;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 2px; }
  .typingPage #wpfContainer {
    position: fixed;
    left: 20px;
    bottom: 20px; }
    .typingPage #wpfContainer span {
      font-size: 30px;
      color: gray; }
    .typingPage #wpfContainer #wpf {
      color: #27ae60 !important;
      text-shadow: 0 0 8px gray; }

header.myHeader {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  z-index: 10;
  background-color: transparent; }
  header.myHeader .lable {
    margin: 5px 10px;
    display: inline-block;
    color: #28774F;
    font-family: Italianno, serif;
    text-shadow: 0 0 3px white;
    font-size: 30px;
    pointer-events: none;
    display: flex;
    flex-direction: row; }
  header.myHeader nav ul li {
    height: 80px;
    display: block; }
    header.myHeader nav ul li a {
      display: table-cell;
      font-size: 20px;
      height: 80px; }
  header.myHeader .user {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px; }
    header.myHeader .user #username {
      font-size: 30px;
      margin: auto 10px;
      color: lightcyan;
      text-shadow: 0 0 4px gray;
      font-family: Fira Sans, serif; }
    header.myHeader .user #logState {
      padding: 5px 5px;
      margin: auto 0;
      height: 55px;
      width: 55px; }

.holder {
  height: 80px; }

#login-modal {
  /* #########################################
   * #    override the bootstrap configs     #
   * ######################################### */ }
  #login-modal .modal-dialog {
    width: 350px; }
  #login-modal input[type=text] {
    margin-top: 10px; }
  #login-modal input[type=password] {
    margin-top: 10px; }
  #login-modal #div-login-msg, #login-modal #div-lost-msg, #login-modal #div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms; }
  #login-modal #div-login-msg.success, #login-modal #div-lost-msg.success, #login-modal #div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5; }
  #login-modal #div-login-msg.error, #login-modal #div-lost-msg.error, #login-modal #div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1; }
  #login-modal #icon-login-msg, #login-modal #icon-lost-msg, #login-modal #icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms; }
  #login-modal #icon-login-msg.success, #login-modal #icon-lost-msg.success, #login-modal #icon-register-msg.success {
    background-color: #68c3a3 !important; }
  #login-modal #icon-login-msg.error, #login-modal #icon-lost-msg.error, #login-modal #icon-register-msg.error {
    background-color: #eb575b !important; }
  #login-modal #img_logo {
    max-height: 100px;
    max-width: 100px; }
  #login-modal .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8; }
  #login-modal .modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0; }
  #login-modal .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px; }
  #login-modal .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px; }
  #login-modal .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px; }
  #login-modal .checkbox {
    margin-bottom: 0px; }
  #login-modal .btn {
    border-radius: 0px; }
    #login-modal .btn:focus, #login-modal .btn:active:focus, #login-modal .btn.active:focus, #login-modal .btn.focus, #login-modal .btn:active.focus, #login-modal .btn.active.focus {
      outline: none; }
  #login-modal .btn-lg, #login-modal .btn-group-lg > .btn {
    border-radius: 0px; }
  #login-modal .btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6; }
    #login-modal .btn-link:hover, #login-modal .btn-link:focus {
      color: #2c3e50;
      text-decoration: none; }
  #login-modal .glyphicon {
    top: 0px; }
  #login-modal .form-control {
    border-radius: 0px; }

.addArticle {
  height: calc(100vh - 90px);
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .addArticle .coverterButton {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .addArticle .coverterButton button {
      font-size: 40px;
      color: gray;
      border-radius: 40px;
      transition: all 0.3s ease-in-out; }
      .addArticle .coverterButton button:hover {
        box-shadow: 0px 0px 30px blue; }
      .addArticle .coverterButton button:focus {
        outline: none; }
  .addArticle .contentWrap {
    width: 40%;
    padding: 0; }
    .addArticle .contentWrap .verticle {
      display: flex;
      flex-direction: column;
      height: 100%; }
      .addArticle .contentWrap .verticle .form-group.content {
        height: 100%; }
        .addArticle .contentWrap .verticle .form-group.content textarea {
          height: 100%; }
  .addArticle .controlsWrap {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }

body {
  position: relative; }

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif; }

canvas {
  display: block; }

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background: #fff no-repeat 50% 50%; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats, .count-particles {
  -webkit-user-select: none; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

/*# sourceMappingURL=main.css.map*/