extends layout

block content
	.addArticle
		.contentWrap
			form.verticle.rawWrap(role = 'form')
				.form-group
					label title
					input.form-control.title.rawTitle(type = 'text')
				.form-group.content
					label content
					textarea.form-control.rawContent

		.stateImg
		.contentWrap
			form#newArticle.verticle.newWrap(method = 'post' action = 'dbs' role='form')
				.form-group
					label title
					input.form-control.title.newTitle(type = 'text' name = 'title')
				.form-group.content
					label content
					textarea(name = 'content').form-control.newContent
		.controlsWrap
			.form-group.controls
				button.btn.btn-primary(type='submit' form = 'newArticle') save
				//- button.btn.btn-cancel(type = 'button' id = 'newArticle' ) cancel
