extends layout

block content
	.addArticle.container
		.col-md-5
			form.verticle.rawWrap(role = 'form')
				//- .form-group
				//- 	label title
				//- 	input.form-control.title.rawTitle(type = 'text')
				.form-group.content
					label content
					textarea.form-control.rawContent

		.stateImg.col-md-1
		.col-md-5
			form#newArticle.verticle.newWrap(method = 'post' action = 'dbs' role='form')
				.form-group
					label title
					input.form-control.title.newTitle(type = 'text' name = 'title')
				.form-group.content
					label content
					textarea(name = 'content').form-control.newContent
		.col-md-1
			.form-group.controls
				button.btn.btn-primary(type='submit') save
				button.btn.btn-cancel(type = 'button' id = 'newArticle' ) cancel
