extends layout

block content
  body
    .container.main
      p.passin= text
      #stage
    #wpfContainer
      span WPF:
      span#wpf
    script(type='text/javascript', src='/javascripts/typingScript.js')
