extends layout
block variables
	-	var page = 'typingPage'
block content
	.typing.main
		p.passin= text
		#stage
			#caret c

	#wpfContainer
		span WPF:
		span#wpf
	script(type='text/javascript', src='/javascripts/typingScript.js')
