#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog
    .modal-content
      .modal-header(align='center')
        img#img_logo.img-circle(src='http://bootsnipp.com/img/logo.jpg')
        button#closeBT.close(type='button', data-dismiss='modal', aria-label='Close' )
          span.glyphicon.glyphicon-remove(aria-hidden='true')
      // Begin # DIV Form
      #div-forms
        // Begin # Login Form
        form#login-form.headerForm(action='login' method='post')
          .modal-body
            #div-login-msg
              #icon-login-msg.glyphicon.glyphicon-chevron-right
              span#text-login-msg Type your username and password.
            input#login_username.form-control(type='text',name='login_username', placeholder='Username (type ERROR for error effect)', required='')
            input#login_password.form-control(type='password',name='login_password', placeholder='Password', required='')
            .checkbox
              label
                input(type='checkbox')
                |  Remember me
          .modal-footer
            div
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Login
            div
              button#login_lost_btn.btn.btn-link(type='button') Lost Password?
              button#login_register_btn.btn.btn-link(type='button') Register
        // End # Login Form
        // Begin | Lost Password Form
        form#lost-form.headerForm(style='display:none;' action='lost' method='post')
          .modal-body
            #div-lost-msg
              #icon-lost-msg.glyphicon.glyphicon-chevron-right
              span#text-lost-msg Type your e-mail.
            input#lost_email.form-control(type='text',name='lost_email', placeholder='E-Mail (type ERROR for error effect)', required='')
          .modal-footer
            div
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Send
            div
              button#lost_login_btn.btn.btn-link(type='button') Log In
              button#lost_register_btn.btn.btn-link(type='button') Register
        // End | Lost Password Form
        // Begin | Register Form
        form#register-form.headerForm(style='display:none;' action='register' method='post')
          .modal-body
            #div-register-msg
              #icon-register-msg.glyphicon.glyphicon-chevron-right
              span#text-register-msg Register an account.
            input#register_username.form-control(type='text', name='register_username', placeholder='Username (type ERROR for error effect)', required)
            input#register_email.form-control(type='text', name='register_email', placeholder='E-Mail', required)
            input#register_password.form-control(type='password', name='register_password', placeholder='Password', required)
            input#retype_password.form-control(type='password', name='retype_password', placeholder='confirm password', required)
          .modal-footer
            div
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Register
            div
              button#register_login_btn.btn.btn-link(type='button') Log In
              button#register_lost_btn.btn.btn-link(type='button') Lost Password?

//script(src='/js/loginPanel.js')

