extends layout/default
block variables
  -  var page = 'typingPage'
  -  var logged = {log}
block content
  .typing.main
    #particles-js
    p.passin= text
    #stage-wrap
      canvas#canvas
      #stage
        #caret

  #wpfContainer
    span WPF:
    span#wpf
  script(type='text/javascript', src='/javascripts/main.js')
  script(type='text/javascript', src='/javascripts/particles.js')
