doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='main.css')
    // bootStrape css
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    title typing
  body
    .container.main
      //
        <p>
        this is a simple for typing functionality
        </p>
      #stage
    #wpfContainer
      span WPF:
      span#wpf
    script(type='text/javascript', src='mainJs')
