<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="typing.css">
    <!--bootStrape css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <title>typing</title>
</head>

<body>

    <div class="container main">
        <p>
            this is a simple for typing functionality
        </p>
        <div id="stage"></div>
        <script type="text/javascript" src="typingScript"></script>
        <div id = "wpfContainer">
            <span>WPF:  </span>
            <span id = "wpf"></span>
        </div>
    </div>

</body>

</html>
